@mixin alert($color:gray) {
    border: 1px solid $color;
    background: desaturate(lighten($color, 60%), 50%);
    color: #666666;

    button {
        float: right;
    }
    button:hover {
        text-decoration: underline;
    }
}

.success {
    @include alert(green);
}

.error {
    @include alert(red);
}
